.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding-top: 5px;
  }
  
  .logo img {
   height: auto;
   width: 130px;
   padding-left: 35px;
  }
  
  nav ul {
   
    display: flex;
    gap: 1rem;
   
  }
  
  nav ul li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    list-style-type: none;
    font-weight: bolder;
    padding-right: 35px;
  }

  ul{
    list-style-type: none;
    text-decoration: none;
    padding-top: 20px;
  }
  