.hero {
   
    color: #fff;
    text-align: center;
    height: 500px;
    background-color: rgb(22, 22, 44);
    margin-left: 35px;
    margin-right: 35px;
  }
  
  .hero h1 {
    font-size: 3rem;
  }
  
  .hero p {
    font-size: 1.5rem;
  }
  
  .hero button {
    border: 1px solid chartreuse;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 1px 2px 3px chartreuse;
    
  }
  .hero img {
    width: 700px;
    height: 500px;
    margin-top: 0px;
    float: right;
    padding-top: 0px;
  }

  .hero h1{
    padding-top: 8rem;
  }

  a{
    text-decoration: none;
    color: black;
  }